.git
.venv
.vscode
.DS_Store
__pycache__/
*.pyc
.mplconfig/

app/frontend/
colab/
reports/
data/
data_paper/
dataset_final/
dataset_final_gap_augmented/
dataset_final_pneumonia_focus/
models/
models_final_local/

models_strong_cnn_pneumonia_focus/*
!models_strong_cnn_pneumonia_focus/latest/
!models_strong_cnn_pneumonia_focus/latest/best_model.keras
!models_strong_cnn_pneumonia_focus/latest/class_names.json
